@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "thông tin sinh viên";
    var user = @ViewBag.user as Day05Model.Models.User;
}
<h1>@ViewData["Title"]</h1>
<hr/>
<p>Td: @ViewBag.user.Id</p>
<p>Name: @user.Name</p>
<p>Add: @user.Address</p>
<p>Email: @user.Email</p>
