@model QLBongDa.Models.Caulacbo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Caulacbo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenClb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenClb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenGoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenGoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTranDau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTranDau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HuanLuyenVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HuanLuyenVien.HuanLuyenVienId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SanVanDong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SanVanDong.SanVanDongId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CauLacBoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
