@model IEnumerable<QLBongDa.Models.Caulacbo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenClb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenGoi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoTranDau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HuanLuyenVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SanVanDong)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenClb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenGoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoTranDau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HuanLuyenVien.HuanLuyenVienId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SanVanDong.SanVanDongId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CauLacBoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CauLacBoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CauLacBoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
